.tasks{
    &__form {
        margin-top: 20px;
            &-new{
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.15s ease-in-out;    
            &:hover{
                opacity: 0.8;
            }
            span{
                font-size: 16px;
            
            }
        }
        &-fields{
            float:left;
            label{
                float: left;
                padding-right: 30px;
            }
        }
       

    }
}

.divfield{
    text-align:right;
}

 .flexbox{
            display: flex;
            justify-content: space-between;
            position: absolute;
          
            width: 650px;
           
          
            overflow: hidden;
          
            margin: 0 auto;
            padding: 15px;
          }
          
          .flexbox .board{
            display: flex;
            flex-direction: column;

            height: 384px;
            width: 180px;
          
            background-color: #fff;
            border: 0.02px  solid rgb(240, 239, 239) ; 
          
            padding: 5px;
            overflow:auto;
            overflow-x: hidden;

            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
                 box-shadow: 0 10px 6px -6px #777;

                &__title{
                    color: black;
                    text-align: center;
                    text-decoration: underline;
                }

              
            

          }
          .flexbox .board::-webkit-scrollbar-button {
            width: 5px;
            height: 0px
          }
          
          /* Цвет дорожки, по которой двигается бегунок прокрутки. */
          .flexbox .board::-webkit-scrollbar-track {
            background-color: #ecedee
          }
          
          /* Цвет бегунка полосы, а так же его закругление. */
          .flexbox .board::-webkit-scrollbar-thumb {
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background-color: #6dc0c8;
          }
          
          /* Цвет бегунка при наведении на него курсора. */
          .flexbox .board::-webkit-scrollbar-thumb:hover {
            background-color: #56999f;
          }
          
          /* Основная ширина полосы прокрутки. */
          .flexbox .board::-webkit-resizer {
            width: 4px;
            height: 0px
          }
          .flexbox .board::-webkit-scrollbar {
            width: 4px;
          }
        
        .flexbox .board .card{
        width: 170px;
        height: 75px;
        left: 570px;
        top: 20px;
        padding: 8px;
        margin-bottom: 15px;
        cursor:pointer;
        
        background: #8DDDFF;
        border-radius: 20px;

        .visibleButtonListOrder{
          text-align: right;
         margin-bottom: 5px;
          margin-right: 5px;
          font-size: 13px;
    
          &:hover{
            opacity: 0.4;
          }
    }
   
                
    .button__delete{
      text-align: right;
      margin-bottom: -30px;
      margin-right: 5px;
      margin-top: -15px;
 
       &:hover{
         opacity: 0.4;
       }
    }
                p{
                    height: 20px;
                    margin-top: -5px;
                    color: black;
                    font-size: 12px;
                }        
  }

  
  




