.tasks{
        &__Truck{
            
           
               img{
                   padding-top: 15px;
                   height: 200px;
                   width: 700px;
               }
        }
       
    &__form {
        margin-top: 20px;
        display: flex;
            &-new{
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.15s ease-in-out;    
            &:hover{
                opacity: 0.8;
            }
            span{
                font-size: 16px;
            
            }
            
        }
        &-fields{
          
            float:left;
            label{
                float: left;
                padding-right: 30px;
            }
        }

    }
}

.divfield{
    text-align:right;
}

.GroupButton{
    white-space:nowrap;

      .divGroup{ display:inline-block; 
            padding: 2px;}

.button-s{
    padding-left: 10;
    height: 30px;
    width: 155px;
    background: #FFFCFC;
   
    box-sizing: border-box;
    font-size:13px;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
    background-color: #2689D0}
    

}}

 .imgTruck {
    padding-top: 15px;
    height: 150px;
    width: 600px;
}

.answer{
    position: absolute;
    left: 570px;
    bottom: 45px;
    span{
        position: absolute;
        left: 110px;
        color:black
    }
}

