.list{
    
    li{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover{
        background: rgba(255,255,255,0.6);
    }

    &.active{
      background: #FFFFFF;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
      border-radius: 0px;
    }
    }

  }
