.tasks{
    &__form {
        margin-top: 20px;
            &-new{
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.15s ease-in-out;    
            &:hover{
                opacity: 0.8;
            }
            span{
                font-size: 16px;
            
            }
        }
        &-fields{
            float:left;
            label{
                float: left;
                padding-right: 30px;
            }
        }

    }
}

.divfield{
    text-align:right;
}

.GroupButton{
    white-space:nowrap;

      .divGroup{ display:inline-block; 
            padding: 2px;}

.button-s{
    padding-left: 10;
    height: 30px;
    width: 155px;
    background: #FFFCFC;
    border: 1px solid #171616;
    box-sizing: border-box;
    font-size:13px;
    border-radius: 10px;
    cursor: pointer;

    &:hover{
    background-color: #2689D0}
    &:active{
     box-shadow: inset 0 0 5px rgba(0, 0, 0, .5)}
    //box-shadow: inset 1px 1px 10px -1px}}\
    
}}
