// .column {
//     float: left;
//     width: 50%;
//     padding: 10px;
// }
.block{
     width: 180px;
     height: 180px;
     background-color: rgb(255, 255, 255);
     border: 1px solid rgb(0, 180, 252);
     display: flex;

        section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            p{
                cursor: pointer;
                margin-left:7px ;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
}
// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }