.tasks{
    /* Обработка заказов */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    color: #2689D0;

   
    &__items{
 
    
      &-row{
        display: table-cell;
        p {
           margin-left: 15px; 
        }
      }
    }
   
  }

  .tasks__title{
    border-bottom: 1px solid #f2f2f2;
  }


