*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto' -apple-system, system-ui, sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dip{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 600px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  font-size: 14px;

  &__sidebar{
    background-color: #f4f6f8;
    width: 200px;
    height: 480px;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  
   
  }

  &__tasks{
    flex: 1;
    padding: 30px;
    overflow-x: hidden;
   
  }
}

.dip__tasks::-webkit-scrollbar-button {
  width: 5px;
  height: 0px
}

/* Цвет дорожки, по которой двигается бегунок прокрутки. */
.dip__tasks::-webkit-scrollbar-track {
  background-color: #ecedee
}

/* Цвет бегунка полосы, а так же его закругление. */
.dip__tasks::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #6dc0c8;
}

/* Цвет бегунка при наведении на него курсора. */
.dip__tasks::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}

/* Основная ширина полосы прокрутки. */
.dip__tasks::-webkit-resizer {
  width: 4px;
  height: 0px
}
.dip__tasks::-webkit-scrollbar {
  width: 4px;
}
