.tasks{
    /* Обработка заказов */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    color: #2689D0;

   
    &__items{
 
     margin-left: 1px;
      &-row{
        padding: 10px;
        
        
        label {
            
            border: 0;
            font-size: 16px;
            float: left;
            padding-right: 30px;
          }
      }
    }
   
  }

  .tasks__title{
    border-bottom: 1px solid #f2f2f2;}

    .field{
        background: #ffffff;
        border: 1px solid #efefef;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .divfield{
        text-align:right;
    }

    .button{
            position: absolute;
            bottom: 15px; 
            right: 15px;
            font-family: Roboto;
            background: rgb(43, 151, 228);
            border-radius: 0px;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;

         &:hover{
             background: darken($color: #2689D0, $amount: 5%);
         }

         &:active{
            background: darken($color: #2689D0, $amount: 15%);
        }

    }
  