
.tasks{
 &__items{
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    align-items: flex-start;

       .statis{
          margin: auto;
          margin-top: 20px;
          width: 300px;
          height: 110px;
          border: 0.5px solid #2689d0;
          padding: 5px;
          

          -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
               box-shadow: 0 10px 6px -6px #777;

          li{
             font-size: 13px;
             color: black;
             line-height: 1.9
          }
          

       }
 }
}

